node_modules
build
.netlify
.vercel
.svelte-kit
.venv
.trigger

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml

src/db/migrations
src/db/scripts/out/

data/*/data
data/*/raw_data
data/*/out
data/*/text_data
data/*/zipped
data/*/translations/\
data/*/summary/summaries

kAraH
src/tools/converter/resources