PG_DATABASE_URL="postgresql://username:password@host:port/database"
UPSTASH_REDIS_REST_URL="https://your-redis-url.upstash.io"
UPSTASH_REDIS_REST_TOKEN="your-upstash-redis-rest-token"
VITE_BETTER_AUTH_URL="http://localhost:your-port"