PG_DATABASE_URL="postgresql://username:password@host:port/database"
UPSTASH_REDIS_REST_URL="https://your-redis-url.upstash.io"
UPSTASH_REDIS_REST_TOKEN="your-upstash-redis-rest-token"
PUBLIC_BETTER_AUTH_URL="http://localhost:your-port"
# Current Site URL
VITE_SITE_URL="http://localhost:your-site-port"

TURNSTILE_SECRET_KEY="your-turnstile-secret-key"
PUBLIC_TURNSTILE_SITE_KEY="your-turnstile-site-key"

TRIGGER_SECRET_KEY="your-trigger-secret-key"
PUBLIC_LOCAL_CONFIG=true
OPENROUTER_API_KEY="your-openrouter-api-key"
OPENAI_API_KEY="your-openai-api-key"
GITHUB_API_KEY="your-github-api-key"
CACHE_URL_KEY="http://localhost:your-site-port;your-cache-key"
