name: App Checks

on:
  - push

env:
  PUBLIC_BETTER_AUTH_URL: http://localhost:3000
  PG_DATABASE_URL: postgresql://postgres:examplepassword123abc@127.0.0.1:5432/exampledb
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use iNode.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          run_install: true
          version: 10
      - run: |
          pnpm test

  svelte_and_type_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          run_install: true
      - run: |
          pnpm check
          pnpm build
