name: App Checks

on:
  - push

env:
  PUBLIC_BETTER_AUTH_URL: http://localhost:3000
  PG_DATABASE_URL: postgresql://postgres:examplepassword123abc@127.0.0.1:5432/exampledb
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - run: |
          bun run test

  svelte_and_type_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - run: |
          bun run check
          bun run build
