name: Commit Translation to Main Repo

on:
  schedule:
    - cron: '0 0 1,16 * *' # Run every 15days at midnight(UTC)
  workflow_dispatch: # Allows manual triggering of the workflow

permissions:
  contents: write

jobs:
  commit_changes:
    runs-on: ubuntu-latest

    env:
      PG_DATABASE_URL: ${{ secrets.PG_DATABASE_URL }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Load Translations
        run: |
          cd src/db/scripts/
          bunx tsx backup_db_data.ts --no-sql-backup --no-zip-backup
      - name: Organize Translations
        run: |
          bunx vite-node src/tests/organize_translation_folder.ts

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Commit and Push Changes
        run: |
          git add .
          git commit -m "Updating Translation Files from Database" || echo "No changes to commit"
          git push
        continue-on-error: true
