name: Texts CI

on:
  push:
    branches:
      - main

jobs:
  text_json_gen_and_cache_invalidation:
    runs-on: ubuntu-latest
    env:
      CACHE_URL_KEY: ${{ secrets.CACHE_URL_KEY }}
    steps:
      - uses: actions/checkout@v4
        with:
          # fetch 2 commits so HEAD has a parent
          fetch-depth: 2

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Install the project
        run: uv sync --frozen
      - name: Run the script
        run: uv run ./helper_cli --gen-json-all

      - name: Use iNode.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          run_install: true
      - run: |
          npx vite-node src/utils/text_data_invalidate.ts --last-commit --verbose
